name: Check Lint
on:
  pull_request:
jobs:
  check-lint:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - uses: VirtusLab/scala-cli-setup@v1.12
      - run: scala-cli fmt --check

